<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="assets/javascript/common.js"></script>
    <title>The Mokemon Trail</title>
    
    <div id='playerName' class='hidden'>{{name}}</div>
    <div id='playerInfo' class='hidden'>
        {
            "name": "{{name}}",
            "progress": {{progress}},
            "mokeballs": {{mokeballs}},
            "day": {{day}},
            "time": {{time}},
            "food": {{food}},
            "money": {{money}},
            "posse": [
                {{#each posse as |moke|}}
                {{#if @index}},{{/if}}{
                    "name": "{{moke.name}}",
                    "health": {{moke.health}},
                    "conditions": [
                        {{#each moke.conditions as |condition|}}
                            {{#if @index}},{{/if}}
                            {"name": "{{condition.name}}",
                            "timeRemaining": {{condition.timeRemaining}}
                            }
                        {{/each}}
                    ]
                }
                {{/each}}
            ],
            "authtoken": "{{authtoken}}"
        }
    </div>    
    {{{ body }}}
</html>
