    <script src="assets/javascript/journey.js"></script>
    <link rel="stylesheet" href="assets/css/journey.css">
</head>
<body>
    <div id='playerName'>{{name}}</div>
    <div id='playerInfo' class='hidden'>
        {
            "name": "{{name}}",
            "progress": {{progress}},
            "mokeballs": {{mokeballs}},
            "day": {{day}},
            "time": {{time}},
            "food": {{food}},
            "money": {{money}},
            "posse": [
                {{#each posse as |moke|}}
                {{#if @index}},{{/if}}{
                    "name": "{{moke.name}}",
                    "health": {{moke.health}},
                    "conditions": [
                        {{#each moke.conditions as |condition|}}
                            {{#if @index}},{{/if}}
                            {"name": "{{condition.name}}",
                            "timeRemaining": {{condition.timeRemaining}}
                            }
                        {{/each}}
                    ]
                }
                {{/each}}
            ]
        }
    </div>
    <section id='canvasArea'>
        <div id='sky'></div>
        <div id='sun'></div>
        <div id='ground'></div>
        <div id='path'></div>
        <canvas id='canvas' width="1920" height="1080"></canvas>
        <div id="msgbox" class="hidden"><div id="msgbuttons"></div></div>    
        <div id='optionsMenu' class='hidden'>
            <button class="optionButton">Rest</button>
            <button class="optionButton">Hunt</button>
            <button class="optionButton" onclick="saveGame()">Save</button>
            <button class="optionButton" onclick="window.location.href=window.location.href">Reload</button>
            <button class="optionButton" onclick="closeOptions()">Continue</button>
            <section id="infoPanel">
                <p>Your Mokemon posse:</p>
                <div id="mokePosse"></div>
                <p id="foodInfo"></p>
                <p id="moneyInfo"></p>
                <p id="ballsInfo"></p>
            </section>
        </div>
    </section>
    <section id='controls' onclick="options()">
        <p id = 'options'> tap here or press enter for options </p>
        <p id = 'narrative'></p>
    </section>
    <div id='posse'>
        Your Pokemon Posse:
    </div>
    <div id='rest'>
        Rest for how long?:
        <form id='restform' action="">
            <input id="restLength" type="number"> days
            <br><br>
            <button type="submit">ok</button>
            <button type="cancel" onclick="$('#restform').hide()"></button>
        </form>        
    </div>
    <div id='inventory'>
        Your items:
    </div>
</body>

